<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ECHO </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1> ECHO </h1>
        <h3> Say something and ECHO will try to repeat it after you... </h3>
        
        <form method="post" action="/" class="form-container">
            <form method="post" action="/" class="form-container">
                <textarea class="codeInput" name="code_input" placeholder="Say something here...">{{request.form['code_input']}}</textarea>
                <button id="runButton" type="submit">
                    Run 
                </button>
            </form>
        </form>
        
        <div class="result-container">
            <h2>ECHO says : </h2>
            <pre>{{ result | safe }}</pre>
        </div>
    </div>
</body>